<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_ZooManager.Properties.Settings.PanjutotrialsDBConnectionString"
            connectionString="Data Source=LAPTOP-K7V11A9N\PANJUTORIALSSQL;Initial Catalog=PanjutotrialsDB;Persist Security Info=True;User ID=sa;Password=pteecjcf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>